@import './variables';

@mixin max-screen-sizes {
    @include media('>tablet') {
        max-width: $tablet;
    }
    @include media('>desktop') {
        max-width: $desktop;
    }
    @include media('>desktop-xl') {
        max-width: $desktop-xl;
    }
}

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}