$black: #2F2F2F !default;
$off-white: #FAFAFA !default;
$light-grey: #F3F3F3 !default;
$lighter-grey: #A4A2A2 !default;
$heading-grey: #6C6C6C !default;

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1280px;
$desktop-xxl: 1440px;


$base-font-size: 16px !default;