@import "../../sass/build";

.btn {
  @include mx-auto;
  @include media(">=tablet") {
    font-size: get-rem(25px);
    text-align: left;
    padding: get-rem(16px) get-rem(78px);
    max-width: get-rem(280px);
    min-height: get-rem(70px);
    margin-bottom: get-rem(213px);
    float: left;
  }

  font-size: get-rem(16px);
  border-radius: 30px;
  padding: get-rem(8px) get-rem(38px);
  max-width: get-rem(157px);
  min-height: get-rem(40px);
  margin-bottom: get-rem(119px);
  background-color: $black;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}
