@import "../../sass/build";

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  @include max-screen-sizes;
  @include media(">=tablet") {
    flex-direction: row;
    margin-top: get-rem(70px);
    align-items: flex-start;
    gap: 6%;
  }
  @include media(">=desktop") {
    margin: get-rem(126px) 0;
    padding: 0 get-rem(103px);
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: get-rem(35px);
}

.column {
  @include media(">=tablet") {
    &:nth-child(1){
      justify-content: flex-start;
      align-items: flex-start;
    }
    &:nth-child(2){
      align-items: center;
    }
    
    // padding: get-rem(32px);
    flex-basis: 47%;
  }

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.heading,
.text {
  @include media(">=tablet") {
    text-align: left;
  }
}

.heading {
  @include media (">=desktop") {
    font-size: get-rem(30px);
  }

  font-size: get-rem(30px);
  font-weight: 300;
  color: $heading-grey;
  margin: 0;
}

.text {
  @include media (">=desktop") {
    font-size: get-rem(45px);
  }

  font-size: get-rem(24px);
  font-weight: 700;
}

.form {
  @include media(">=desktop") {
    padding-right: get-rem(30px);
  }

  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;

}

.email,
.message {
  @include media(">=desktop") {
    padding: get-rem(10px) get-rem(30px);
    font-size: get-rem(25px);
    margin: 0;
  }
  
  border-radius: 10px;
  border-color: $light-grey;
  border-style: solid;
  border-width: 0.3px;
  box-shadow: 2px 4px 4px rgb(238 238 238 / 40%);
  min-width: 100%;
  padding: get-rem(10px) get-rem(30px);
  color: $light-grey;
  font-weight: 200;
  --webkit-font-smoothing: anti-aliased;
}

.email {
  @include mx-auto;
  min-height: get-rem(70px);
  margin-bottom: get-rem(30px);
}

.message {
  min-height: get-rem(205px);
  margin-bottom: get-rem(44px);
}

.submit {
  background-color: $black;
  border: 0;
  color: #fff;
  font-size: get-rem(20px);
  padding: get-rem(16px) get-rem(92px);
  max-width: 50%;
  border-radius: 40px;
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 50%;
    text-decoration: underline;
  }
}
