@import '../../sass/build';

.navigation {
    // @include max-screen-sizes;
    @include media(">=tablet") {
        padding-top: 5rem;
    }

    padding-top: 2rem;
    width: 100%;
}

.navbar {
    @include max-screen-sizes;
    @include mx-auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.navigation_links {
    @include media("<tablet") {
        flex-direction: column;
    }
    
    align-self: center;
    display: flex;
}

.navlink {
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    font-family:'Poppins';
    font-size: 1.3rem;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}