@import '../../sass/build';

.navigation {
    // @include max-screen-sizes;
    @include media(">=tablet") {
        padding-top: get-rem(78px);
    }

    padding-top: 2rem;
    width: 100%;
}

.navbar {
    @include max-screen-sizes;
    @include mx-auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: get-rem(80px);
}

.navigation_links {
    @include media("<tablet") {
        flex-direction: column;
    }
    
    align-self: center;
    display: flex;
}

.navlink {
    padding-right: get-rem(35px);
    padding-left: get-rem(35px);
    text-decoration: none;
    color: black;
    font-family:'Poppins';
    font-size: get-rem(30px);
    font-weight: 300;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}