@import "../../sass/build";

.footer {
    padding: get-rem(57px) 0;
    margin: 0 get-rem(32px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: get-rem(25px);
    border-top: solid $light-grey 0.2px;
}