@import '../../sass/build';

$ns: 'testimonials';

.#{$ns} {

    &_container {
        background-color: $light-grey;
        justify-content: center;
        display: flex;
        padding: 2rem 0 4rem 0;
    }
    
    &_carousel {
        @include max-screen-sizes;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &_wrapper {
        // @include max-screen-sizes;

        @include media('>=tablet') {
            min-height: get-rem(900px);
            max-height: get-rem(900px);
        }
        @include media('>=desktop') {
            min-height: get-rem(776px);
            max-height: get-rem(776px);
        }
        @include media('>desktop-xxl') {
            min-height: get-rem(650px);
            max-height: get-rem(650px);
        }
        
        min-height: get-rem(1024px);
        max-height: get-rem(1024px);
        margin: 0;
        padding: 0 get-rem(58px);
        overflow: hidden;
    }
    
    &_entry {
        @include media('>tablet') {
            min-width: calc($tablet - get-rem(181px));
            max-width: calc($tablet - get-rem(181px));
        }
        @include media('>desktop') {
            min-width: calc($desktop - get-rem(181px));
            max-width: calc($desktop - get-rem(181px));
        }
        @include media('>desktop-xl') {
            min-width: calc($desktop-xl - get-rem(181px));
            max-width: calc($desktop-xl - get-rem(181px));
        }
        @include media('>desktop-xxl') {
            min-width: calc($desktop-xxl - get-rem(181px));
            max-width: calc($desktop-xxl - get-rem(181px));
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &_quote {
        font-size: 2rem;
        line-height: get-rem(62px);
        margin-bottom: get-rem(115px);
    }
    
    &_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &_title {
        font-size: get-rem(70px);
        font-weight: 500;
        text-align: left;
    }

    &_image {
        object-fit: cover;
        max-height: get-rem(123px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
    }

    &_person {
        font-size: get-rem(35px);
        font-weight: 500;
        margin: 0 0 1rem 0;
    }

    &_role {
        font-size: get-rem(35px);
        font-weight: 300;
        margin: 0;
    }

    &_arrow {
        font-size: get-rem(35px);
        height: 100%;
        align-self: center;
        background-color: transparent;
        border: transparent;
    }
    }