@import '../../sass/build';

$ns: 'banner';

.#{$ns} {

&_container {
    @include max-screen-sizes;
    @include mx-auto;
}

&_wrapper {
    @include media( "<tablet") {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: justify;
        padding: get-rem(93px) get-rem(32px) 0;
    }
    
    height: auto;
    padding: get-rem(174px) 0 0;
}

&_salutation {
    @include media( ">=tablet") {
        font-size: get-rem(30px);
        text-align: left;
    }

 font-size: get-rem(14px);
 text-align: center;
 color: $heading-grey;
 margin: 1rem 0 1rem 0;
 font-weight: 300;
}

&_heading {
    @include media( ">=tablet") {
        font-size: get-rem(50px);
        text-align: left;
    }
    font-size: get-rem(16px);
    font-weight: 500;
    text-align: center;
    margin: 0 0 2rem 0;
}
}